@(orders: List[Order])

@tableRow(order: Order) = {
	<tr>
		<td>@order.oId</td>
		<td>@order.iDate</td>
		<td>@order.dDate</td>
		<td>@order.getAllCookies()</td>
		<td><a href="@routes.Application.chooseOrderdetails(order.oId)">Choose</a></td>
	</tr>
}

@main("Choose order") {

	<h1>Choose order</h1>

	<table border="1">
		<tr>
			<th>Id</th>
			<th>Incoming time</th>
			<th>Delivery time</th>
			<th>Cookiekinds</th>
			<th>Choose</th>
		</tr>

		@for(order <- orders){
			@tableRow(order)
		}
	</table>

    <a href="http://localhost:9000/">Tillbaka</a>
}
