@(pallet: Pallet)
@import models._



@deliveryInfo(palletMap: Map[String, String]) = {
    if(pallet){

    }
}

@main("Pallet") {
	<h1>Pallet info:</h1>
	<table>
		@for((k,v) <- pallet.getInfoAsMap) {
			<tr>
				<td>@k</td>
				<td>@v</td>
			</tr>
		}
		<!--More info maybe? customer, order etc -->
	</table>

    @deliveryInfo(pallet.getInfoAsMap)

	<div>
		<h3>Change status</h3>
		<form method="post">
			<select name="status">
				@for(status <- PalletStatus.values){
					<option value="@status" @if(status == pallet.pStatus){selected}>@status</option>
				}
			</select>
			<input type="hidden" name="id" value="@pallet.pId">
			<input type="submit">
		</form>
	</div>

    <a href="http://localhost:9000/palletList">Tillbaka</a>
}
