@(pallet: Pallet)
@import models._



@deliveryInfo(pallet: Pallet) = {
    @if(pallet.pStatus == PalletStatus.delivered){
        <h3>Delivery-info:</h3>
            <table>
                <tr>
                    <td>Customer: </td>
                    <td>@pallet.pCName</td>
                </tr>
                <tr>
                    <td>Location: </td>
                    <td>@pallet.pCAddress.</td>
                </tr>
                <tr>
                    <td>Deliverydate: </td>
                    <td>@pallet.pDelivDate</td>
                </tr>
            </table>
    }
}

@main("Pallet") {
	<h1>Pallet info:</h1>
	<table>
		@for((k,v) <- pallet.getInfoAsMap) {
			<tr>
				<td>@k</td>
				<td>@v</td>
			</tr>
		}
		<!--More info maybe? customer, order etc -->
	</table>

    @deliveryInfo(pallet)

	<div>
		<h3>Change status</h3>
		<form method="post">
			<select name="status">
				@for(status <- PalletStatus.values){
					<option value="@status" @if(status == pallet.pStatus){selected}>@status</option>
				}
			</select>
			<input type="hidden" name="id" value="@pallet.pId">
			<input type="submit">
		</form>
	</div>

    <a href="http://localhost:9000/pallets">Tillbaka</a>
}
